<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PVSDK_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADC257841F8F3EBE00418881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC2579D1F8F3EBF00418881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADC257A81F8F3EBF00418881</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
