# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Demo/Podfile.lock
Demo/Pods/Manifest.lock
Demo/Pods/Headers/Private/IQKeyboardManager/IQBarButtonItem.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQKeyboardManager.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQKeyboardManagerConstants.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQKeyboardManagerConstantsInternal.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQKeyboardReturnKeyHandler.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQNSArray+Sort.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQPreviousNextView.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQTextView.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQTitleBarButtonItem.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQToolbar.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUIScrollView+Additions.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUITextFieldView+Additions.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUIView+Hierarchy.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUIView+IQKeyboardToolbar.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUIViewController+Additions.h
Demo/Pods/Headers/Private/IQKeyboardManager/IQUIWindow+Hierarchy.h
Demo/Pods/Headers/Private/Masonry/MASCompositeConstraint.h
Demo/Pods/Headers/Private/Masonry/MASConstraint+Private.h
Demo/Pods/Headers/Private/Masonry/MASConstraint.h
Demo/Pods/Headers/Private/Masonry/MASConstraintMaker.h
Demo/Pods/Headers/Private/Masonry/MASLayoutConstraint.h
Demo/Pods/Headers/Private/Masonry/Masonry.h
Demo/Pods/Headers/Private/Masonry/MASUtilities.h
Demo/Pods/Headers/Private/Masonry/MASViewAttribute.h
Demo/Pods/Headers/Private/Masonry/MASViewConstraint.h
Demo/Pods/Headers/Private/Masonry/NSArray+MASAdditions.h
Demo/Pods/Headers/Private/Masonry/NSArray+MASShorthandAdditions.h
Demo/Pods/Headers/Private/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Demo/Pods/Headers/Private/Masonry/View+MASAdditions.h
Demo/Pods/Headers/Private/Masonry/View+MASShorthandAdditions.h
Demo/Pods/Headers/Private/Masonry/ViewController+MASAdditions.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQBarButtonItem.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQKeyboardManager.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQKeyboardManagerConstants.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQKeyboardReturnKeyHandler.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQPreviousNextView.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQTextView.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQTitleBarButtonItem.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQToolbar.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUIScrollView+Additions.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUITextFieldView+Additions.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUIView+Hierarchy.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUIView+IQKeyboardToolbar.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUIViewController+Additions.h
Demo/Pods/Headers/Public/IQKeyboardManager/IQUIWindow+Hierarchy.h
Demo/Pods/Headers/Public/Masonry/MASCompositeConstraint.h
Demo/Pods/Headers/Public/Masonry/MASConstraint+Private.h
Demo/Pods/Headers/Public/Masonry/MASConstraint.h
Demo/Pods/Headers/Public/Masonry/MASConstraintMaker.h
Demo/Pods/Headers/Public/Masonry/MASLayoutConstraint.h
Demo/Pods/Headers/Public/Masonry/Masonry.h
Demo/Pods/Headers/Public/Masonry/MASUtilities.h
Demo/Pods/Headers/Public/Masonry/MASViewAttribute.h
Demo/Pods/Headers/Public/Masonry/MASViewConstraint.h
Demo/Pods/Headers/Public/Masonry/NSArray+MASAdditions.h
Demo/Pods/Headers/Public/Masonry/NSArray+MASShorthandAdditions.h
Demo/Pods/Headers/Public/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Demo/Pods/Headers/Public/Masonry/View+MASAdditions.h
Demo/Pods/Headers/Public/Masonry/View+MASShorthandAdditions.h
Demo/Pods/Headers/Public/Masonry/ViewController+MASAdditions.h
Demo/Pods/IQKeyboardManager/LICENSE.md
Demo/Pods/IQKeyboardManager/README.md
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQKeyboardManager.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQKeyboardManager.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQKeyboardReturnKeyHandler.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQKeyboardReturnKeyHandler.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQNSArray+Sort.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQNSArray+Sort.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIScrollView+Additions.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIScrollView+Additions.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUITextFieldView+Additions.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUITextFieldView+Additions.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIView+Hierarchy.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIView+Hierarchy.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIViewController+Additions.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIViewController+Additions.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIWindow+Hierarchy.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Categories/IQUIWindow+Hierarchy.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Constants/IQKeyboardManagerConstants.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Constants/IQKeyboardManagerConstantsInternal.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQTextView/IQTextView.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQTextView/IQTextView.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQBarButtonItem.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQBarButtonItem.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQPreviousNextView.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQPreviousNextView.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQTitleBarButtonItem.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQTitleBarButtonItem.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQToolbar.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQToolbar.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQUIView+IQKeyboardToolbar.h
Demo/Pods/IQKeyboardManager/IQKeyboardManager/IQToolbar/IQUIView+IQKeyboardToolbar.m
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowDown@2x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowDown@3x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowLeft@2x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowLeft@3x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowRight@2x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowRight@3x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowUp@2x.png
Demo/Pods/IQKeyboardManager/IQKeyboardManager/Resources/IQKeyboardManager.bundle/IQButtonBarArrowUp@3x.png
Demo/Pods/Masonry/LICENSE
Demo/Pods/Masonry/README.md
Demo/Pods/Masonry/Masonry/MASCompositeConstraint.h
Demo/Pods/Masonry/Masonry/MASCompositeConstraint.m
Demo/Pods/Masonry/Masonry/MASConstraint+Private.h
Demo/Pods/Masonry/Masonry/MASConstraint.h
Demo/Pods/Masonry/Masonry/MASConstraint.m
Demo/Pods/Masonry/Masonry/MASConstraintMaker.h
Demo/Pods/Masonry/Masonry/MASConstraintMaker.m
Demo/Pods/Masonry/Masonry/MASLayoutConstraint.h
Demo/Pods/Masonry/Masonry/MASLayoutConstraint.m
Demo/Pods/Masonry/Masonry/Masonry.h
Demo/Pods/Masonry/Masonry/MASUtilities.h
Demo/Pods/Masonry/Masonry/MASViewAttribute.h
Demo/Pods/Masonry/Masonry/MASViewAttribute.m
Demo/Pods/Masonry/Masonry/MASViewConstraint.h
Demo/Pods/Masonry/Masonry/MASViewConstraint.m
Demo/Pods/Masonry/Masonry/NSArray+MASAdditions.h
Demo/Pods/Masonry/Masonry/NSArray+MASAdditions.m
Demo/Pods/Masonry/Masonry/NSArray+MASShorthandAdditions.h
Demo/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.h
Demo/Pods/Masonry/Masonry/NSLayoutConstraint+MASDebugAdditions.m
Demo/Pods/Masonry/Masonry/View+MASAdditions.h
Demo/Pods/Masonry/Masonry/View+MASAdditions.m
Demo/Pods/Masonry/Masonry/View+MASShorthandAdditions.h
Demo/Pods/Masonry/Masonry/ViewController+MASAdditions.h
Demo/Pods/Masonry/Masonry/ViewController+MASAdditions.m
Demo/Pods/Pods.xcodeproj/project.pbxproj
Demo/Pods/Target Support Files/IQKeyboardManager/IQKeyboardManager-dummy.m
Demo/Pods/Target Support Files/IQKeyboardManager/IQKeyboardManager-prefix.pch
Demo/Pods/Target Support Files/IQKeyboardManager/IQKeyboardManager.xcconfig
Demo/Pods/Target Support Files/Masonry/Masonry-dummy.m
Demo/Pods/Target Support Files/Masonry/Masonry-prefix.pch
Demo/Pods/Target Support Files/Masonry/Masonry.xcconfig
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo-acknowledgements.markdown
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo-acknowledgements.plist
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo-dummy.m
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo-frameworks.sh
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo-resources.sh
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo.debug.xcconfig
Demo/Pods/Target Support Files/Pods-PVSDK_Demo/Pods-PVSDK_Demo.release.xcconfig
